@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
  font-family: "Fredoka", sans-serif;
  margin: 0;
  padding: 0;
  background-color:#ba4949;
  color: black; 
}

main {
  flex: 1;
  max-width: 40rem;
  margin: 0 auto;
  box-sizing: border-box;
}
button {
 font-size: 14px;
}

.navbar-component{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: thick double whitesmoke;
  width: 40rem;
  margin: auto;
}
.navbar-component h3{
  color: whitesmoke;
}

.navbar-buttons button{
  opacity: 70%;
  width: 6em;
  height: 2em;
  font-family: "Fredoka", sans-serif;
  margin-left: 10px;
  border-radius: 10px;
}
/* timer syles */
.timer-component {
  background-color: #c15c5c;
  margin: 50px;
  height: 400px;
  border-radius: 10px;
  text-align: center;
  padding-top: 40px;
}

.timer-component-count {
  background-color: rgb(247, 127, 127);
  /* margin-left: 35%;
  margin-right: 35%; */
  margin: auto;
  width: 50%;
  font-size: 40px;
  border-radius: 100px;
}
.timer-component-time-selection button {
  opacity: 70%;
  width: 130px;
  margin: 0 2px;
  height: 3em;
  font-family: "Fredoka", sans-serif;
}
.timer-component-actions button {
  opacity: 70%;
  width: 20%;
  height: 3em;
  font-family: "Fredoka", sans-serif;
  /* margin-left: 10px; */
  border-radius: 10px;
  margin: 0 5px;
}

.timer-component-count h3 {
  font-size: 60px;
  margin: 20px 0;
}

.timer-component-actions button {
  margin: 5px;
}

.information-component{
  background-color:whitesmoke;
  border-top: solid rgb(0, 0, 0);
  /* height: 90vh; */
  margin-top: 200px;
  text-align: center;
  padding: 30px;
}


/* Overlay models */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
  padding: 10px;
}
.overlay h1{
  text-decoration: underline;
}
.overlay-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  position: relative;
}

.close-btn{
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: rgb(163, 163, 163);
  border-color: #ba4949;
  font-size: 15px;
  color: #ba4949;
  font-weight:900;
}

.close-btn:hover {
  background-color: #ccc;
}


 /* account overlay */
.account-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  margin-left: 20px;

}

.account-form-container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80%;

  margin-bottom: 10px;
  
}

.account-form-container button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 30%;
  margin: auto;
}
.user-account-section button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e94d31;
  color: white;
  cursor: pointer;
  width: 30%;
  margin: auto;
}

.account-form-container button:hover {
  background-color: #45a049;
}

.toggle-login {
  margin-top: 25px;
  color: rgba(59, 59, 230, 0.918);
  cursor: pointer;
}
.toggle-login:hover {
  text-decoration: underline;
}

/* Setting overlay */
.timer-settings {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  margin: auto;
}
.timer-settings input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80%;

  margin-bottom: 10px;
}
.other-settings input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 20%;

  margin-bottom: 10px;
}
.timer-save-btn{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 30%;
  margin: auto;
}
.timer-reset-btn{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4ca8af;
  color: white;
  cursor: pointer;
  width: 30%;
  margin-left: 10px;
  /* margin: auto; */
}





/* task componenet styles */
.tasks-component {
  /* color: whitesmoke; */
  
}
.tasks-header {
  border-bottom: solid whitesmoke;
  color: white;
}

.add-task-field {
  margin: 20px;
  border: dotted whitesmoke;
  background-color: #b35c5c;
  border-radius: 20px;
  text-align: center;

}
.add-task-field:hover {
  background-color: #6e4848b6;
}

.tasks-input-form {
  background-color: whitesmoke;
  width: 95%;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  border-color: rgb(225, 235, 95);

  border-style: solid;
}

.tasks-input-form input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80%;
  margin-bottom: 10px;
}
.tasks-input-form p{
  margin-bottom: 0px;
}

.tasks-input-form-btn {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  display: flex;
 justify-content: flex-end;
 
}

.tasks-input-form-btn button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 25%;
  margin-left: 10px;
}
.form-add-btn{
  background-color: #4CAF50;
}
.form-cancel-btn{
  background-color: #db4444;
}

.task-items {
  background-color: whitesmoke;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  border-color: cadetblue;
  border-left-width: 10px;
  border-style: solid;
}
.task-items p {
  margin-left: 20px;
  font-size: 18px;
}
.task-items h1 {
  margin-left: 20px;
  font-style: oblique;
}
.task-item-buttons{
  display: flex;
  justify-content: flex-end;
}
.task-item-buttons button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 30%;
  margin-left: 10px;

}
.task-delete-btn{
  background-color: #db4444;
}
.task-select-btn{
  background-color: #4CAF50;
}


